@model My_movie_manager.Models.MovieManagerModel.FavouriteUserMovie

@{
    ViewData["Title"] = "Edit";
}

<h1>Change movie</h1>

<h4>Enter new movie id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Movie Id</label>
                <input asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" placeholder="Enter new imdb movie id " class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
