@model IEnumerable<My_movie_manager.Models.MovieManagerModel.FavouriteUserMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Favourite movie list</h1>

<h5>These are all your favourite movies</h5>

<p>
    <br />  
    <a asp-action="Create">Add new movie with IMDB_ID</a>
</p>
<p>
    <a href="movie/search">Add new movie by search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie Id
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                <a href="/movie/detail/@item.MovieId">View movie details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Change</a> |
                <a style="color:red" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
