@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="https://localhost:44335/moviedetails/tt3896198">Temp link to movie!</a>

    <a href="https://localhost:44335/movie/moviedetail/tt3896198">New controller!</a>
</div>
