@model My_movie_manager.Models.movieDetails
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="https://localhost:44335/moviedetails/tt3896198">Temp link to movie!</a>

    <a href="https://localhost:44335/movie/moviedetail/tt3896198">New controller!</a>
</div>


<div class="row">
    <div class="col-md-4">

        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search for movie</label>
                <input type="text" class="form-control" id="movieName" name="movieName" placeholder="Enter movie name" />
            </div>

            <div class="form-group">
                <input type="submit" value="Search movie" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>