@model My_movie_manager.Models.movieDetails
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<a href="/moviedetails/tt3896198">TEMP view movie, == home>index </a>
<br />
<a href="/movie/detail/tt3896198">TEMP view movie, == movie>detail</a>
<br />
<a href="/movie/search/tt3896198">TEMP search movie, == movie>search>"tmepKey"</a>
<br />
<a href="/movie/movielist"> TEMP movie list, == movie>movielist"</a>
<br />

<div>
    <p>Body will go here</p>
</div>
