@model My_movie_manager.Models.movieDetails
@{
    ViewData["Title"] = "Movies home";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>

<h4>Things you can do in movie controller</h4>

<ul>
    <li> <a href="/movie/list">View list of movies</a></li>
    <li> <a href="/movie/search">Search for a movie</a></li>
</ul>
