@model My_movie_manager.Models.movieDetails

@{
    ViewData["Title"] = "Movie search";
}

<h1>Search for movie</h1>

<div>

    <div class="row">
        <div class="col-md-4">

            <form class="form" asp-controller="movie" asp-action="search">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Search for movie</label>
                    <input type="text" class="form-control" id="movieName" name="movieTitle" placeholder="Enter movie name" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
                <a asp-action="index">back to index</a>
            </form>
        </div>
    </div>

</div>
